/* Login.css */
.login-wrapper {
    max-width: 400px; /* Maximum width of the form */
    margin: 50px auto; /* Center the form */
    padding: 20px; /* Padding around the form */
    background-color: #f9f9f9; /* Light background color */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
    height: 600px;
}

.login-wrapper h1 {
    text-align: center;
    font-weight: 600; /* Center the heading */
}

.login-wrapper label {
    display: block; /* Block display for labels */
    margin-bottom: 15px; /* Space between labels */
}
p{
    text-align: center;
    margin-bottom: 30px;
}

.login-wrapper input {
    width: 70%; /* Full width inputs */
    padding: 10px; /* Padding inside inputs */
    border-radius: 5px; /* Rounded corners for inputs */
    border: 1px solid #ccc; /* Border color */
    margin-bottom: 20px; /* Space between inputs */
    margin-left: 45px;
}

.login-wrapper button {
    width: 100%; /* Full width button */
    padding: 10px; /* Padding inside button */
    background-color: #24cf57; /* Dark background for button */
    color: white; /* White text color for button */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners for button */
    cursor: pointer; /* Pointer cursor on hover */
}

.login-wrapper button:hover {
    background-color: #555; /* Darker shade on hover */
}
