body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.search-container {
    height: 100vh; /* Set height to 70vh */
    background-image: 
                linear-gradient(
                    rgba(0, 0, 0, 0.5), /* Red with transparency */
                    rgba(0, 0, 0, 0.5) /* Blue with transparency */
                ),
                url('./back2.jpeg'); 
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    margin : 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center content vertically */
}

.search-description {
    font-size: 70px; /* Font size for description */
    color: #ffffff; 
    /* Dark grey text color */
    margin-bottom: 150px;
    position: relative;
}

.search-box {
    position: relative; /* Positioning context for the icon */
    width: 80%; /* Set width of the search box */
}

.search-input {
    width: 100%; /* Full width of the container */
    padding: 15px 40px; /* Add padding for better appearance */
    border-radius: 25px; /* Rounded corners */
    border: 2px solid #ccc; /* Light grey border */
    font-size: 18px; /* Font size */
    outline: none; /* Remove outline on focus */
    transition: border-color 0.3s; /* Smooth transition for border color */
}

.search-input::placeholder {
    color: #aaa; /* Placeholder text color */
}

.search-input:focus {
    border-color: #007BFF; /* Change border color on focus */
}

.search-icon {
    position: absolute; /* Positioning the icon inside the input */
    left: 15px; /* Space from the left edge */
    top: 50%; /* Center vertically in the input field */
    transform: translateY(-50%); /* Adjust vertical alignment */
    color: #aaa; /* Icon color */
}

.search-button {
    padding: 15px 30px; /* Add padding for better appearance */
    border-radius: 25px; /* Rounded corners */
    border: none; /* No border */
    background-color: #007BFF; /* Blue background */
    color: white; /* White text color */
    font-size: 18px; /* Font size */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s; /* Smooth transition for background color */
    margin-top: 50px;
}

.search-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

.results {
    margin-top: 20px; /* Space between button and results */
    text-align: center;
    color: #fff; /* Center the text */
}

.results h2 {
    margin-bottom: 10px; /* Space below heading */
}

.results ul {
    list-style-type: none; /* Remove bullet points from list */
    padding: 0; /* Remove padding */
}
