.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #4CAF50; /* Green background */
}

.navbar-brand h1 {
    color: white;
}

.navbar-menu {
    list-style-type: none;
    display: flex;
}

.navbar-menu li {
    margin: 0 15px;
}

.navbar-menu li a {
    color: white;
    text-decoration: none;
}

.navbar-menu li a.active {
    font-weight: bold;
}
