/* src/pages/AboutUs.css */

.about-us-container {
    padding: 20px;
    background-color: #b2f8a7;
    border-radius: 20px;

}

.about-us-heading {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 90px;
}

.about-us-content,
.sustainability-content {
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Center items vertically */
    margin-bottom: 30px; /* Space between sections */
}

.about-us-icon,
.sustainability-icon {
    font-size: 2rem; /* Adjust icon size */
    margin-right: 15px; /* Space between icon and text */
    color: #4a90e2; /* Icon color */
}

.about-us-description,
.sustainability-description {
    font-size: 20px;
    line-height: 1.5; /* Improved readability */
}
.sustainability-heading{
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 90px;
}
